# Env file
.env
.env.test

# Vendor & Composer
/vendor/
composer.lock

# Sqlite
*.sqlite

#Initialization database scripts
db/mysqlInit.sql
db/pgsqlInit.sql
db
mysqlInit
pgsqlInit

# My personal notes
notes*.md

# Dev Tools
.php-cs-fixer.cache